# Dependências
node_modules/

# Cache e logs
yarn-error.log
npm-debug.log*
pnpm-debug.log*
*.log

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Build/coverage (se usar)
dist/
build/
coverage/

# Editor/IDE
.vscode/
.idea/
